<div class="card shadow-xl">
  <div class="card-body flex flex-col gap-3">
    <div class="flex gap-4 items-center">
      <span class="font-bold">日時</span>
      <span class="font-bold">
        <%= l(task.scheduled_at.in_time_zone) %>
      </span>
    </div>
    <p class="font-bold mb-5">
      <%= task.content %>
    </p>
    <div class="flex items-center gap-3">
      <span class="font-bold">必要なもの：</span>
      <div class="flex gap-2 items-center">
        <% task.items.split(",").each do |item| %>
          <span class="badge badge-accent font-bold"><%= item %></span>
        <% end %>
      </div>
    </div>
    <div class="card-actions justify-between items-center">
      <%= link_to '編集', edit_task_path(task), class: "btn btn-primary" %>
      <%= button_to '削除', task_path(task), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-error' %>
    </div>
  </div>
</div>
