<!DOCTYPE html>
<html data-theme="retro">
  <head>
    <title>Forgetfulness</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "sw-registration" %>
  </head>

  <body>
    <div class="mb-4">
      <%= render "layouts/header" %>
    </div>
    <div class="w-3/5 mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
